<div id="history" *ngFor="let chat of chats">
  <mat-card>
    <mat-card-subtitle>
      <span>{{chat.username}} (Sent: {{chat.timestamp | date:'long'}})</span>
    </mat-card-subtitle>
    <mat-card-content>
      <p>{{chat.message}}</p>
    </mat-card-content>
  </mat-card>
</div>
<form id="message" [formGroup]="form" (ngSubmit)="onChatSubmit(form.value)">
  <mat-form-field>
    <input matInput placeholder="Username"
                    formControlName="username" >
  </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter Chat"
                      formControlName="message" >
                      <button type="submit" matSuffix mat-icon-button aria-label="Submit">
                        <mat-icon>send</mat-icon>
                      </button>
    </mat-form-field>
</form>
